html{
    height: 100%;
    padding-bottom: 20px;
}

body{
    font-family: sans-serif;
    
    margin: 0;
    padding: 0;
    
    height: 100%;
    background-color: beige;
    
    
}

.body-home{
    background-image: url(images/background-01-port.png);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 50px;
    
}

.body-meals {
    background-image: url(images/background-02-port.png);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 50px;
    
}


/*========== HEADER ==========*/
.header {
    background-color: #6a88a0;
    
    width: 100%;
    height: 50px;
    top: 0;
    
    position: fixed;
    overflow: hidden;
    
    text-align: center;
    
}

.header i {
    float: left;
    padding: 17px; 0px; 0px 17px;
    color: white;
    
}

.header img {
    width: 150px;
    padding-top: 14px;
    padding-right: 25px;
}


/*========== HOME PAGE ==========*/

#home-logo-img{
    width: 250px;
    display: block;
    margin: auto;
    padding: 25px 10px 10px 10px;
    color: cornsilk;
    
}

#home-logo-text{
    width: auto;
    display: block;
    margin: auto;
    padding: 25px;
}

/*===== Home Page Menu =====*/

.home-menu-item{
    text-decoration: none;
    text-transform: uppercase;
    
    
    color: saddlebrown;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    border: 4px solid white;
    background-color: rgba(255, 255, 255, .8) ;
    
    
    display: block;
    margin: auto;
    margin-bottom: 10px;
    width: 80%;
    padding: 0px;
    
}



/*========== MEALS PAGE ==========*/

.meals {
    padding-top: 50px;
}


/*===== MEALS Page Menu =====*/

.meals-list a{
    text-decoration: none;
}

.meals-list-item{
    border: 5px solid #1a1a1a;
    margin: 10px;
}

.meals-list-item h1 {
    font-weight: bold;
    font-size: 20px;
    color: #1a1a1a;
    padding-left: 10px;
}

.meals-list-item i {
    float: right;
    color: #1a1a1a;
    padding-right: 10px;
    
}

.meals-list-item p {
    font-size: 15px;
    font-weight: ;
    font-style: italic;
    color: #4d4d4d;
    margin-top: -7px;
    padding-left: 10px;
}


/*========== RECiPE PAGE ==========*/

#recipe {
    padding-top: 50px;
}

/*===== RECEPE Page Menu =====*/

.recipe-details img{
    width: 100%;
}

.recipe-details h1 {
    font-size: 25px;
    text-align: center;
    border: 5px solid #1a1a1a;
    margin: 10px;
    padding: 5px;
    
}

.recipe-details h2{
    font-size: 20px;
    text-align: left;
    margin: 0;
    margin-left: 10px;
    
}

.recipe-details-info {
    margin-left: 25px;
    margin-right: 25px;
}

.recipe-details-info p {
    font-size: 13px;
    display: inline-block;
    
}

.recipe-details-ingredients label {
    line-height: 25px;
    margin-left: 10px;
}

.recipe-details-steps {
    padding-top: 20px;
    
}

.recipe-details-steps ol {
    padding-left: 20px;

}

#info-box-full{
      background-color : rgba(255, 255, 255, .8) ;
      width   : 90%;
      display : block;
      margin  : auto;
      margin-top : 12px;
      padding    : 10px;
}

#info-box-full{
      background-color : rgba(255, 255, 255, .6) ;
      width   : 90%;
      display : block;
      margin  : auto;
      margin-top : 12px;
      padding    : 10px;
      
}


.order {
    
    font-family: "DinNext-Bold" !important;
    padding: auto;
    background: #fdb913;
    width: max-content;
    height: auto;
    color: black;
    font-weight: normal;
    border-radius: 20px;
    display: block;
    text-align: center;   
}

.order i {
    
}

.price {
    border: 0.5px solid #1a1a1a;
    text-align: center;
    font-family: sans-serif;
    font-weight: 100;
    background-color: rgba(255, 255, 255, .8) ;
}



/*========== RESPONSIVE LAYOUT ==========*/

@media only screen and (min-width: 600px) {
    #meals {
        width: 80%;
        margin: auto;
    }
    
    #recipe {
        width: 80%;
        margin: auto;
    }
}


@media only screen and (min-width: 1000px) {
    #meals {
        width: 60%;
        margin: auto;
    }
    
    #recipe {
        width: 60%;
        margin: auto;
    }
    
@media only screen and (min-width: 1500px) {
    #meals {
        width: 40%;
        margin: auto;
    }
    
    #recipe {
        width: 40%;
        margin: auto;
    }
}


    @media only screen and (min-width: 720px) {
        .body-home {
            background-image: url(images/background-01-land.png);
        }
        
        .body-meals {
            background-image: url(images/background-02-land.png);
        }
    }